// Переменные основных цветов
$c-font: #2B2A29;

// Параметры контейнера и блоков
$maxWidth: 1920;
$maxWidthContainer: 1360;
$containerPadding: 10;

// Параметры основного семейства шрифта
$base-font: 'Bahnschrift', sans-serif;
$base-font-weight: 400;
$base-font-size: 20px;
$base-font-color: $c-font; 

// Карта базовых брейкпоинтов
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px
);

// Карта для определения максимальной ширины контейнера на брейкпоинте
$container-max-widths: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px,
  "xxl": $maxWidthContainer + px
);
