.cabinet{
  position: relative;
  display: inline-block;
  padding: 5px 45px 10px 0;
  transition: color 0.3s ease-out;
  cursor: pointer;

  @media (any-hover:hover){
    &:hover{
      color: $c-hover;
    }
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background: url(../img/header/cabinet.svg) no-repeat center / auto;
  }
}