.cabinet {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 0 10px;
  transition: color 0.3s ease-out;
  cursor: pointer;

  @media (max-width: (map.get($breakpoints, "md") - 0.02)) {
    font-size: 0;
    padding: 0 10px;
  }

  span {
    display: inline-block;
    margin-left: 10px;

    @media (max-width: (map.get($breakpoints, "md") - 0.02)) {
      margin-left: 0;
    }

    svg {
      @media (max-width: (map.get($breakpoints, "sm") - 0.02)) {
        width: 30px;
        height: 30px;
      }
    }

    svg > path {
      transition: fill 0.3s ease-out;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: $c-hover;

      span > svg > path {
        fill: $c-hover;
      }
    }

    // &::after{
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   height: 35px;
    //   width: 35px;
    //   background: url(../img/header/cabinet.svg) no-repeat center / auto;
    // }
  }
}
