.cart{
  position: relative;
  display: inline-block;
  padding: 10px 55px 15px 0;
  margin-right: 85px;
  transition: color 0.3s ease-out;
  cursor: pointer;

  @media (any-hover:hover){
    &:hover{
      color: $c-hover;
    }
  }

  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 45px;
    background: url(../img/header/cart.svg) no-repeat center / auto;
  }
}