.loyalty-card{
  background-color: $c-bg;
  border-radius: 50px;
  box-shadow: 0px 20px 50px rgba(77, 75, 73, 0.2);

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 50px 30px;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      padding: 25px 30px;
    }
  }

  &__logo-wrapper{
    display: flex;
    align-items: center;
  }

  &__logo-img{
    height: 77px;
    width: 77px;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      height: 50px;
      width: 50px;
    }
  }

  &__logo-text{
    text-transform: uppercase;
    font-size: 35px;
    line-height: 1.2em;
    color: #fff;
    max-width: 105px;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      font-size: 25px;
      margin-left: 10px;
      max-width: 60px;
    }
  }

  &__balance{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      font-size: 18px;
    }
  }

  &__balance-text{
    display: inline-block;
    margin-bottom: 12px;
  }

  &__img{
    width: 100%;
    @include adaptiv-value(height, 210, 120, 1);
  }

  &__info{
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    margin: 24px 48px;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      margin: 15px 30px;
      font-size: 18px;
    }
  }

  &__info-title{
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__info-wrapper{
    margin-top: 10px;
  }

  &__info-name{
    display: inline-block;
    margin-right: 5px;
  }

  &__bottom{
    padding: 10px;
    background-color: #fff;
    max-width: 345px;
    width: 100%;
    margin: 190px auto 50px;

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      margin: 120px auto 40px;
      max-width: 270px;
    }

    @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
      margin: 95px auto 30px;
      max-width: 200px;
    }
  }
}