.nav-menu{
  ul{ 
    display: flex;
    list-style: none;
    padding: 0;

    @media (max-width: (map.get($custom-breakpoints, '<1600') - 0.02)){
      margin-bottom: 10px;
    }
  }

  ul > li {
    transition: color 0.3s ease-out;
    @media (any-hover:hover){
      &:hover{
        color: $c-hover;
      }
    }
    &:not(&:last-child){
      margin-right: 55px;

      @media (max-width: (map.get($breakpoints, 'xl') - 0.02)){
        margin-right: 20px;
      }
    }
  }
}