.delivery{

  &__block{
    &:not(&:last-child){
      margin-bottom: 40px;
    }
  }

  &__title{
    margin: 35px 0;
  }

  &__wrapper{
    border-top: 8px dashed $c-font;
    border-bottom: 8px dashed $c-font;
    background: url(../img/delivery/delivery-bg.png) no-repeat bottom right / auto, linear-gradient(291.53deg, #FECF3D 3.56%, #6B9D52 69.58%);
    padding: 45px 75px;
  }

  &__block-title{
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__block-content{
    display: flex;
    justify-content: flex-start;
  }

  &__block-map{
    border-radius: 60px;
    margin-top: 25px;
  }

  &__zone{
    &:not(&:first-child){
      margin-left: 150px;
    }
  }

  &__card{
    &:not(&:first-child){
      margin-left: 120px;
    }
  }
}