.footer {
  &__container {
    max-width: 1770px;
    padding: 40px 10px 50px;
  }

  &__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;

    @media (max-width: (map.get($breakpoints, 'lg') - 0.02)){
      font-size: 40px;
      text-align: center;
    }
  }

  &__list-items {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    @media (max-width: (map.get($breakpoints, "xxl") - 0.02)) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-info {
    @media (max-width: (map.get($breakpoints, "xxl") - 0.02)) {
      align-self: flex-start;
    }

    @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
      align-self: auto;
      max-width: 270px;
      text-align: center;
    }
  }

  &__list-links{
    @media (max-width: (map.get($breakpoints, "xxl") - 0.02)) {
      margin: 10px 0;
    }

    @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
      max-width: 270px;
      text-align: center;
    }
  }

  &__list-links:last-child {
    @media (max-width: (map.get($breakpoints, "xxl") - 0.02)) {
      align-self: flex-end;
      margin: 0;
    }

    @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
      align-self: auto;
    }
  }
}
