.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 15px 0 20px;
  text-transform: uppercase;

  @media (max-width: (map.get($breakpoints, "md") - 0.02)) {
    padding: 15px 0;
  }

  &__wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: (map.get($custom-breakpoints, "<1600") - 0.02)) {
      margin-left: 10px;
    }

    @media (max-width: (map.get($breakpoints, "lg") - 0.02)) {
      width: 100%;
      margin-left: 0;
    }
  }

  &__wrapper-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    @media (max-width: (map.get($breakpoints, "lg") - 0.02)) {
      height: 45px;
      width: 45px;
    }
  }

  &__select {
    @media (max-width: (map.get($breakpoints, "md") - 0.02)) {
      padding: 0 10px;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
  }

  &__cart {
    @include adaptiv-value("margin-right", 85, 30, 1);

    @media (max-width: (map.get($breakpoints, "lg") - 0.02)) {
      padding: 0 10px;
      margin: 0;
    }
  }

  &__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;

    @media (max-width: (map.get($custom-breakpoints, "<1600") - 0.02)) {
      flex-direction: column-reverse;
    }

    @media (max-width: (map.get($breakpoints, "lg") - 0.02)) {
      display: none;
    }
  }
}
