.hero{
  border-top: 8px dashed $c-font;
  border-bottom: 8px dashed $c-font;

  @media (max-width: (map.get($breakpoints, 'lg') - 0.02)){
    border-top: 6px dashed $c-font;
    border-bottom: 6px dashed $c-font;
  }

  @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
    border-top: 4px dashed $c-font;
    border-bottom: 4px dashed $c-font;
  }

  &__slide-content,
  &__slide-img{
    min-height: 775px;

    @media (max-width: (map.get($breakpoints, 'xxl') - 0.02)){
      min-height: 575px;
    }

    @media (max-width: (map.get($breakpoints, 'xl') - 0.02)){
      min-height: 475px;
    }

    @media (max-width: (map.get($breakpoints, 'lg') - 0.02)){
      min-height: 375px;
    }

    @media (max-width: (map.get($breakpoints, 'md') - 0.02)){
      min-height: 275px;
    }

    @media (max-width: (map.get($breakpoints, 'sm') - 0.02)){
      min-height: 175px;
    }
  }


}