<div class="modal-wrapper">
  <div class="modal">
    <div class="modal__head">
      <h4 class="modal__title">Ваш регион</h4><button class="modal__button"></button>
    </div>
    <div class="modal__body">
      <div class="region">
        <div class="region__head">
          <h4 class="region__title">Ваш город Киев?</h4><button class="region__button">Да</button>
        </div>
        <div class="region__body">
          <h4 class="region__title">Выбрать из списка</h4>
          <div class="region__lists">
            <ul class="region-list region__list">
              <li class="region-list__item">Винница</li>
              <li class="region-list__item">Днепр</li>
              <li class="region-list__item">Донецк</li>
              <li class="region-list__item">Житомир</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Запорожье</li>
              <li class="region-list__item">Ивано-Франковск</li>
              <li class="region-list__item">Киев</li>
              <li class="region-list__item">Кропивницкий</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Луганск</li>
              <li class="region-list__item">Луцк</li>
              <li class="region-list__item">Львов</li>
              <li class="region-list__item">Николаев</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Одесса</li>
              <li class="region-list__item">Полтава</li>
              <li class="region-list__item">Ровно</li>
              <li class="region-list__item">Симферополь</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Сумы</li>
              <li class="region-list__item">Тернополь</li>
              <li class="region-list__item">Ужгород</li>
              <li class="region-list__item">Харьков</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Херсон</li>
              <li class="region-list__item">Хмельницкий</li>
              <li class="region-list__item">Черкассы</li>
              <li class="region-list__item">Чернигов</li>
            </ul>
            <ul class="region-list region__list">
              <li class="region-list__item">Черновцы</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>